:root {
    --fg-1: #ddddff;
    --fg-2: #4acfef;
    --fg-3: #caa2d2;
    --coin: #CCCC00;
    --coin-style: #FFFF00;
}

html, body { height: 100%; margin: 0; }

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: var(--fg-1);
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

header {
    width: 640px;
    height: 120px;
    font-size: 14px;
    border: 1px solid var(--fg-1);
    border-bottom: none;
}

header > button, header > span, header > div {
    margin: 8px 8px 0 8px;
}

header > button {
    display: block;
    float: right;
    height: 30px;
    min-width: 50px;
    font-weight: 300;
    padding: 3px 9px;
    margin-left: 4px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--fg-1);
    background: none;
    border: 1px solid var(--fg-1);
    box-shadow: 2px 2px 1px  rgb(177, 135, 201);
}

header button:hover {
    color: var(--fg-2);
    border: 1px solid var(--fg-3);
}

header button:active {
    box-shadow: none;
    margin: 9px 8px 0px 4px;
    box-shadow: -1px -1px 1px  rgb(76, 61, 85);
}

header div {
    margin-top: 76px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
}

header > span {
    float: left;
    clear: left;
}

canvas {
    display: block;
    border: 1px solid var(--fg-1)
}

:not(button) { cursor: default; }
button, a { cursor: pointer; }

a {
    color: var(--fg-3);
    text-decoration: none;
    transition: 0.18s linear all;
}

a:hover {
    color: var(--fg-2);
    letter-spacing: 1.1pt;
    transition: 0.18s linear all;
}
